<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440453285839-l04864653asg5q65eorn7ka1i113u970.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440453285839-l04864653asg5q65eorn7ka1i113u970</string>
	<key>API_KEY</key>
	<string>AIzaSyDXwYD-QlRNJxbe-STJPbItzkBnUrpCkBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>440453285839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sixfortylabs.broccoli</string>
	<key>PROJECT_ID</key>
	<string>broccoli-5d02e</string>
	<key>STORAGE_BUCKET</key>
	<string>broccoli-5d02e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440453285839:ios:e72e38e1905b751e0974ba</string>
</dict>
</plist>